---
---

$light-grey: #e8e8e8;
$dark-grey: #454545;
$off-white: #fefefe;

$instagram: #3f729b;
$facebook: #3b5998;
$linkedin: #0077b5;

// FONT

@font-face {
    font-family: 'national-regular';
    src: url('fonts/national-regular.eot');
    src: url('fonts/national-regular.eot') format('embedded-opentype'),
        url('fonts/national-regular.woff') format('woff'),
        url('fonts/national-regular.ttf') format('truetype'),
        url('fonts/national-regular.svg#NationalRegular') format('svg');
}

// GENERAL

html, body, h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'national-regular', sans-serif;
}

body {
    background-color: $light-grey;
}

.off-white {
    background-color: $off-white;
}

.section-separator {
    height: 52px;
}

.section-border{
    border-bottom: 2px solid $dark-grey;
    padding-bottom: 25px;
    margin: 0 2.5%;

    h1 {
        position: absolute;
        font-size: 30px;
        left: 50%;
        margin: 0px;
        padding: 10px 10px 0px 10px;;
        background-color: $off-white;
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

// FONT

h4 {
    font-weight: 400;
}

// FULLSCREEN WARNINGS

.fullscreen-warning {
    height: 100%;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $light-grey;
    z-index: 1500;
    text-align: center;
    padding: 20px;
}

.fullscreen-warning img {
    width: 40%;
    max-width: 300px;
    padding-top: 10%;
    padding-top: 35vh;
    padding-bottom: 20px;
}

#javascript-disabled {
    z-index: 1200;
}

#ie8 {
    display: none;
}

.js #javascript-disabled {
    display: none !important;    
}

// BUTTONS

.btn-primary {
    color: $off-white;
    background-color: $dark-grey;
    border-color: $dark-grey;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
    color: $dark-grey;
    background-color: $off-white;
    border-color: $dark-grey;
}

.btn-default {
    color: $dark-grey;
    background-color: $off-white;
}

.btn-default:active, .btn-default:hover, .btn-default:focus, .btn-default.active, .active > .btn-default {
    color: $off-white;
    background-color: $dark-grey;
    border-color: $dark-grey;
}

.btn {
    border: 2px solid $dark-grey;
    border-radius: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.btn:focus, .btn:active {
    outline: none !important;
}

.btn-group {
    .btn {
        margin-left: 15px !important;
        margin-bottom: 15px !important;
    }
}

.btn-wrapper {
    display: inline-block;
    width: 100%;
}

// NAVIGATION

#main-navigation {
    background-color: $light-grey;
    border: none;
}

#main-navigation.light-navigation {
    background-color: $off-white;
}

#main-navigation > .container-fluid {
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-bottom: 2px solid $dark-grey;
}

.navbar-nav > li:hover {
    background-color: $off-white;
}

.light-navigation {

    .navbar-nav > li:hover {
        background-color: $light-grey;
    }

    .navbar-nav > li > .dropdown-menu {
        background-color: $light-grey;
    }
    
    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        background-color: $off-white;
    }
}

.navbar-nav > li > .dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;

    li > a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

.navbar-default .navbar-nav > li > a {
    color: $dark-grey;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
    color: $dark-grey;
    background-color: $off-white;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: $light-grey;
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-brand img {
    max-height: 100%;
}

.nav-padding {
    height: 50px;
}

@media (min-width: 768px) {

    .navbar-nav > li > a {
        font-size: 15px;
    }

    .navbar-right .dropdown-menu {
        border: 2px solid $dark-grey;
        border-top: 0px;
        right: auto;
        left: -2px;
    }

    .navbar-right .dropdown-menu li a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// SUCCESS PAGE

.success-message {
    margin-top: 50vh;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;

    h1 {
        margin-top: 0px;
    }

    img {
        width: 80%;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .success-message {
        h1 {
            font-size: 14px;
        }
    }
}

// HOMEPAGE CAROUSEL

.homepage-carousel {
    overflow-x: hidden;
}

.flexslider{

    background-color: transparent;
    border: 0px;

    .flex-direction-nav a {
        height: 50px;
        margin: -25px 0 0 ;
    }
}

.flexslider-desktop {

}

.homepage-slide {
    width: 90%;
    margin: 0 auto;
    text-align: center;

    .lf-glasses-sketch {
        width: 50% !important;
        margin: 0 auto;
    }

    h1 {
        margin-top: 0px;
        opacity: 0;
    }

    > h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    .col-xs-4 {
        img {
            max-width: 400px;
            margin: 0 auto;
        }
    }
}

.homepage-buttons {
    text-align: center;
    position: relative;
    top: -100px;

    .button-wrapper {
        display: inline-block;
    }

    .btn-default {
        font-weight: bold;
    }

    .btn-default:active, .btn-default:focus, .btn-default:hover {
        font-weight: normal;
    }

    .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
        font-weight: bold;
    }
}

@media only screen and(max-width: 767px) {
    .homepage-slide {

        width: 70%;

        .lf-glasses-sketch {
            width: 80% !important;
            margin: 0 auto;
        }

        h1 {
            font-size: 14px;
        }

        .col-xs-4 {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

@media only screen and(min-width: 768px) {
    .homepage-slide {
        .col-xs-4 {
            img {
                padding: 30px;
            }
        }
    }
}

// TITANIUM CAROUSEL

#titanium-slide-1 {
    background-image: url(/img/titanium-carousel-1.jpg);
    background-position: bottom;
}

#titanium-slide-2 {
    background-image: url(/img/titanium-carousel-2.jpg);
}

#titanium-slide-3 {
    background-image: url(/img/titanium-carousel-3.jpg);
    background-position: bottom;
}

.titanium-slide {
    height: -moz-calc(100vh - 52px);
    height: -webkit-calc(100vh - 52px);
    height: -o-calc(100vh - 52px);
    height: calc(100vh - 52px);
    padding: 2.5vw;

    .img {
        height: 100%;
        background-size: cover;
        background-position: center;
    }
}

.flex-direction-nav {
    display: none;
}

.flex-control-nav {
    position: absolute;
    top: -moz-calc(75vh + 50px);
    top: -webkit-calc(75vh + 50px);
    top: -o-calc(75vh + 50px);
    top: calc(75vh + 50px);
    bottom: auto;
    width: 100%;
    z-index: 10;
}

.homepage-buttons {
    position: absolute;
    top: 75vh;
    width: 100%;
    z-index: 10;
}

.flexslider {
    margin-bottom: 0px;
}

#titanium-modal {

    .modal-dialog {

        top: -moz-calc(50vh - 84px);
        top: -webkit-calc(50vh - 84px);
        top: -o-calc(50vh - 84px);
        top: calc(50vh - 84px);

        .modal-content {

            .form-wrapper {
                padding: 15px;

                .input-wrapper {
                    display: inline;
                }

                .btn-wrapper {
                    display: inline;
                }
            }
        }
    }
}

// FRAMES PODIUM

.frames-podium-container {
    padding-left: 0;
    padding-right: 0;
}

.frames-podium {
    text-align: center;
}


img.lazy {
    position: absolute;
    top: 0px;
}

.img-wrapper {
    position: relative;
    margin: 0 auto;
}

.img-wrapper img {
    max-width: 100%;
    width: 100%;
}

.podium-hero .img-wrapper {
    width: 55%;
}

.podium-nav .img-wrapper {
    width: 80%;
}

.podium-nav {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.slick-slide > img {
    margin: 0 auto;
}

.slick-track {
    margin: 0 auto;
}

.slick-prev::before, .slick-next::before {
    color: $dark-grey;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

// HORN

.horn {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;

    .horn-tabbed {
        border: 2px solid $dark-grey;
        background-color: $off-white;
        text-align: center;

        .tab-list {
            list-style-type: none;
            padding: 0px;

            li {
                display: inline-block;
                width: 50%;
                float: left;
                background-color: $dark-grey;

                a {
                    color: $off-white !important;
                    display: block;
                    padding: 20px 10px;
                    font-size: 24px;
                }

                a:hover, a:active, a:focus {
                    text-decoration: none;
                }
            }

            li.active {
                background-color: $off-white;

                a {
                    color: $dark-grey !important;
                }
            }
        }

        .tab-content {
            margin-left: 15%;
            margin-right: 15%;

            .tab-pane {
                padding: 20px 0px;

                p {
                    font-weight: 400;
                    font-size: 15px;
                }

                table {
                    max-width: 500px;
                    margin: 0 auto;
                    border-bottom: 2px solid $dark-grey;

                    td {
                        width: 33%;
                        padding: 5px;
                        border-left: 2px solid $dark-grey;
                        border-right: 2px solid $dark-grey;
                        background-color: $light-grey;
                    }

                    tr.headings > td {
                        background-color: $dark-grey;
                        color: $off-white;
                        border: 2px solid $dark-grey;
                    }
                }

                a {
                    color: $dark-grey !important;
                }

                a:hover, a:active, a:focus {
                    text-decoration: none;
                }
            }
        }
    }
}

// LOOKBOOKS

.lookbooks {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;

    .lookbook {

        text-align: center;
        margin-bottom: 20px;

        .lookbook-title {
            width: -moz-calc(100% - 20px);
            width: -webkit-calc(100% - 20px);
            width: -o-calc(100% - 20px);
            width: calc(100% - 20px);
            margin: 0 auto;
            border-top: 1px solid $dark-grey;

            h3 {
                margin-top: 10px;
            }
        }

        .slick-slider {
            margin-bottom: 15px;
        }

        .slick-slide {

            img {
                width: 100%;
                padding: 10px;
            }
        }
    }
}

// STOCKISTS

.stockist-filters {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0px;
}

.stockist-grid {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 0px;

    .stockist {
        margin: 15px auto;
    }

    .stockist-card {
        border: 2px solid $dark-grey;
        padding: 0px 10px;
        background-color: $off-white;

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 0px;
            margin-top: 10px;
        }

        > a {
            color: $dark-grey;
            > p {
                margin-bottom: 0;
            }
        }

        > a:hover, > a:focus {
            text-decoration: none;
            color: #555;
        }

        .stockist-address {
            border-top: 1px solid $dark-grey;
            margin-top: 5px;
            margin-bottom: 10px;
            padding-top: 5px;
            width: 60%;

            p {
                margin-bottom: 0px;
            }
        }
    }
}

@media (min-width: 992px) {
    .stockist {
        width: 33%;
    }
}

// CONTACT

.contact-tabs {
    width: 90%;
    margin: 20px auto;
    padding: 0px;
    border: 2px solid $dark-grey;
    background-color: $off-white;

    .tabbedpanel {

        .tab-list {

            padding: 0px;
            margin: 0px;
            background-color: $dark-grey;

            li {
                display: block;
                background-color: $dark-grey;
                text-align: center;
                vertical-align: bottom;

                a {
                    display: block;
                    color: $off-white;
                    padding: 50px 10px;
                }

                a:focus, a:hover {
                    text-decoration: none;
                }
            }

            li.active {
                background-color: $off-white;

                a {
                    color: $dark-grey;
                }
            }
        }

        .clearfix {
            background-color: $dark-grey;
        }

        .tab-content {

            .tab-pane {

                .form-wrapper {
                    margin: 30px 20px;
                    padding: 25px;
                    border: 2px solid $dark-grey;
                    background-color: $light-grey;

                    .input-wrapper {

                        margin-bottom: 15px;
                        display: inline-block;
                        float: left;
                        padding-left: 15px;
                        padding-right: 15px;

                        textarea {
                            border: 2px solid $dark-grey;
                            border-radius: 0px;
                            font-weight: bold;
                        }

                        input:focus, .input--filled > input {
                            background-color: $off-white;
                        }
                    }

                    .btn {
                        margin: 0px 15px;
                        float: right;
                    }

                    #sales-message-input-error {
                        padding-top: 0px;
                        padding-right: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .contact-tabs {

        .clearfix {
            display: none; 
        }
    }
}

@media (min-width: 668px) {
    .input-wrapper.right-input > span.input {
        float: right;
        margin-right: 0px;
        margin-left: auto;
    }

    .input-wrapper.col-sm-6 {
        width: 50%;
        float: left;
    }
}

@media (max-width: 991px) {

    .contact-tabs {

        .tab-list {

            li {
                display: inline-block !important;
                width: 33%;
                float: left;
            }

            .last {
                float: right;
            }
        }
    }
}

// FOOTER

.footer-wrapper {
    width: 95%;
    margin: 0 auto;
    border-top: 2px solid $dark-grey;

    .footer-social {

        text-align: center;

        .social-icons {
            display: inline-block;
            margin: 20px auto;

            a {
                color: $dark-grey;
                font-size: 6rem;
                margin: 10px;
            }

            .fa-facebook-square:active, .fa-facebook-square:focus, .fa-facebook-square:hover {
                color: $facebook;
            }

            .fa-instagram:active, .fa-instagram:focus, .fa-instagram:hover {
                color: $instagram;
            }
        }
    }

    .footer-logo {

        img {
            max-width: 90%;
            margin: 20px auto;
        }
    }
}

.fa {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

footer.fixed-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

// FULLSCREEN LOADING

.fullscreen-loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: $light-grey;
    z-index: 1200;

    .nav-loading {
        width: 95%;
        margin: 0 auto;
        height: 52px;
        border-bottom: 2px solid $dark-grey;
    }

    .logo-loading {
        width: 40%;
        margin: 0 auto;
        margin-top: 50vh;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;

        img {
            max-width: 100%;
            margin-bottom: 30px;
        }

        #loading-icon {
            max-width: 64px;
        }
    }
}

// MODAL

.modal-content {
    border: 2px solid $dark-grey;
    border-radius: 0px;
    background-color: $light-grey;
    text-align: center;
}

.modal-header {
    padding-bottom: 0px;
    position: relative;
    z-index: 5;
}

.modal-header button {
    opacity: 1;
}

.modal-header h2 {
    margin-top: 10px;
}

.modal-header h4 {
    margin-bottom: 0px;
}

.modal-body {
    padding-top: 0px;
    text-align: justify;
    text-align-last: center;
}

.modal-body img {
    max-width: 100%;
}

.modal-details {
    text-align: left;
}

#modal-enquiry-form-container {

}

#modal-enquiry-form {


    h4 {
        text-align: left;
    }

}

.dimensions, .hardware {
    border-left: 1px solid $dark-grey;
}

.hardware {
    border-right: 1px solid $dark-grey;
}

.modal-details h6 {
    margin-top: 5px;
}

.modal-details p {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
}

.dimensions {
    text-align: center;
    padding-top: 15px;
}

.close span {
    color: $dark-grey;
}

.price {
    margin: 0px;
}

.price-subscript {
    display: inline-block;
    font-size: 1em;
    font-size: 1rem;
}

.buying-options {
    border: 2px solid $dark-grey;
    background-color: $off-white;
    margin: 20px 0px;
    padding: 0px 0px;
}

.buying-options .form-inline {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: right;
}

.btn-stockists {
    float: right;
}

.input {
    width: auto;
}

.input--madoka {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.graphic--madoka {
    stroke-width: 8px;
    stroke: $dark-grey;
}

.input__label--madoka, .input__field--madoka {
    color: $dark-grey;
}

.input__field--madoka {
    height: 36px;
}

.input__field--madoka:focus + .input__label--madoka .input__label-content--madoka, .input--filled .input__label-content--madoka {
    -webkit-transform: scale3d(0.81, 0.81, 1) translate3d(0, 2.5em, 0);
    transform: scale3d(0.81, 0.81, 1) translate3d(0, 2.5em, 0);
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

label.error {
    position: absolute;
    padding-top: 36px;
    float: right;
    font-size: 70.24%;
    font-weight: bold;
    right: 0;
    color: maroon;
}

@media (max-width: 991px) {

    .hardware {
        text-align: right;
        border-left: 0px;
    }

    .dimensions {
        border-left: 0px;
    }
}

@media (min-width: 992px) {

    .modal-body img {
        margin-top: -50px;
    }
}

@media (max-width: 406px) {

    #modal-enquiry-form button {
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
    }

    #modal-enquiry-form span {
        float: right;
    }
}