---
layout: homepage
title: "Lewis Fredericks - Handcrafted Horn Eyewear"
description: "Lewis Fredericks Eyewear offers time-honoured silhouettes fashioned from horn, the previously wasted by-product of domesticated Buffalo, Ram and Ox."
---
<!-- HOMEPAGE CAROUSEL -->
<div id="home" class="nav-padding"></div>
<div class="homepage-carousel">
    <div class="flexslider flexslider-desktop">
        <ul class="slides">
            <li>
                <div class="titanium-slide">
                    <div id="titanium-slide-2" class="img"></div>
                </div>
            </li>
            <li>
                <div class="titanium-slide">
                    <div id="titanium-slide-1" class="img"></div>
                </div>
            </li>
            <li>
                <div class="titanium-slide">
                    <div id="titanium-slide-3" class="img"></div>
                </div>
            </li>
        </ul>
        <div class="homepage-buttons">
            <div class="button-wrapper">
                <!--<a target="_blank" href="/pdf/Lewis%20Fredericks%20-%20Process.pdf" class="btn btn-default">SEE THE PROCESS</a>
-->
                <a onclick="ga('send', 'event', 'Button', 'Click', 'Coming-soon');" class="btn btn-primary" data-toggle="modal" data-target="#titanium-modal">COMING SOON</a>
            </div>
        </div>
    </div>
</div>

<!-- FRAMES PODIUMS -->
<div>
    {% assign isFirst = true %} 
    {% for frame in site.frames %}
    {% if isFirst %}
    {% assign isFirst = false %}
    <div id="frames" class="nav-padding off-white"></div>
    <div class="nav-padding off-white"></div>
    <div class="section-separator off-white"><div class="section-border"><h1 class="editable">FRAMES</h1></div></div>
    {% else %}
    <div class="section-separator off-white"><div class="section-border"></div></div>
    {% endif %}
    <div id="{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="nav-padding"></div>
    <div class="container-fluid frames-podium-container">
        <div class="frames-podium">
            <!-- PODIUM HERO -->
            <div id="hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="podium-hero">
                {% for variant in frame.variants %}
                <div>
                    <img src="{{ variant.image_path }}" alt="{{ frame.title }} {{ variant.title }}" />
                    <h2>{{ frame.title | upcase}}</h2>
                    <h4>{{ variant.title | upcase}} | {{ variant.lens | upcase}}</h4>
                    <button onclick="ga('send', 'event', 'Button', 'Click', 'Frames-{{ frame.title | replace: ' ', '-' | replace: '.', '' }}-{{ variant.title | replace: ' ', '-' | replace: '.', '' }}');" type="button" class="btn btn-primary" data-toggle="modal" data-target="#details-modal" data-title="{{ frame.title | upcase }}" data-variant="{{ variant.title | upcase}} | {{ variant.lens | upcase}}" data-lensdetails="{{ variant.lens-details }}" data-description="{{ frame.description }}" data-vardesc="{{ variant.description }}" data-width="{{ frame.width }}" data-height="{{ frame.height }}" data-netweight="{{ frame.net-weight }}" data-grossweight="{{ frame.gross-weight }}" data-imgpath="{{ variant.image_path }}">DETAILS</button>
                </div>
                {% endfor %}
            </div>
            <!-- PODIUM NAV -->
            <div id="nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', '' }}" class="podium-nav">
                {% for variant in frame.variants %}
                <div>
                    <img src="{{ variant.thumbnail_path }}" alt="{{ frame.title }} {{ variant.title }}" />
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- LOOKBOOK -->
<div id="lookbook" class="nav-padding"></div>
<div class="nav-padding off-white"></div>
<div class="section-separator off-white"><div class="section-border"><h1 class="editable">LOOKBOOK</h1></div></div>
<div class="row lookbooks">
    {% for lookbook in site.lookbooks %}
    <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="lookbook">
            <div id="slider-{{ lookbook.title | downcase | replace: ' ', '-' | replace: '.', '' | replace: '|', '-' | replace: '/', '-'}}">
                {% for img in lookbook.images %}
                <div>
                    <a target="_blank" href="{{ lookbook.pdf_path }}"><img src="{{ img.img_path }}" alt="{{ lookbook.title }}" /></a>
                </div>
                {% endfor %}
            </div>
            <div class="lookbook-title">
                <h3>{{ lookbook.title | upcase }}</h3>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- HORN -->
<div id="horn" class="nav-padding"></div>
<div class="nav-padding off-white"></div>
<div class="section-separator off-white"><div class="section-border"><h1 class="editable">HORN</h1></div></div>
<div class="row horn">
    <div class="horn-tabbed">
        <!-- Nav tabs -->
        <ul class="tab-list" role="tablist">
            <li role="presentation" class="active">
                <a href="#care" class="btn-tabpanel" aria-controls="care" role="tab" data-toggle="tab">ABOUT / CARE</a>
            </li>
            <li role="presentation">
                <a href="#one-of-one" class="btn-tabpanel" aria-controls="one-of-one" role="tab" data-toggle="tab">ONE OF ONE</a>
            </li>
        </ul>

        <div class="clearfix"></div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="care">
                <p class="editable">Lewis Fredericks Eyewear offers time-honoured silhouettes fashioned from horn, the previously wasted by-product of domesticated Buffalo, Ram and Ox.</p>
                <p class="editable">With mass production and little technique now a calling card of the eyewear industry, Lewis Fredericks instead pays tribute to the rich history of eyewear&rsquo;s past, through recycling the traditionally used material of horn and expert hand craftsmanship.</p>
                <p class="editable">Horn is a natural fibre; its integrity, pattern and structure cannot be replicated, making each individual pair of Lewis Fredericks a completely unique, one of a kind piece.</p>
                <p class="editable">The fibre of horn carries with it properties that outweigh any synthetic counterpart. Lightweight and durable, each pair will gracefully flex and gradually mould to the contours of the wearer&rsquo;s face.</p>
                <p class="editable">Aware of modern tastes and needs, Lewis Fredericks reinvigorates past design by employing technological advancements including high quality hinges and Italian polarised lenses from Mazzucchelli.</p>
                <p class="editable">A fine balance of design, technique and craftsmanship, Lewis Fredericks combines the best from the past to create classic, contemporary eyewear.</p>
                <h3 class="editable">CARE</h3>
                <p class="editable">Horn is one of the strongest and most durable optical materials. Your Lewis Fredericks will respond well to being outdoors and exposed to the elements. However, due to being a natural fibre be sure to polish them with the included wax. We recommend applying this or any mineral or petroleum based oil twice a year to nourish the horn and prevent it from drying.</p>
                <p class="editable">To apply; buff a small amount of the wax into your frame with the microfiber cleaning cloth or rag, paying special attention to the temples and frame edges. Buff the frame until the wax has completely dissipated and the horn appears revitalised.</p>
                <h4 class="editable">Your Lewis Fredericks will grow with you in both form and feel, care for them well and you will enjoy our vision for many years.</h4>
            </div>
            <div role="tabpanel" class="tab-pane" id="one-of-one">
                <h3 class="editable">Please Read Carefully</h3>
                <h4 class="editable">Lewis Fredericks frames are made from real horn, not a manufactured imitation. Each individual pair of Lewis Fredericks is a completely unique, one of a kind piece:</h4>
                <h4 class="editable">One of One.</h4>
                <h5 class="editable">Lewis Fredericks has attempted to categorize the horn colouring in Schedule One in order to provide guidance. Light horn is the most variable of the Lewis Fredericks horn categories and it is in this category that we advise customers to read the following before making a purchase:</h5>
                <h5 class="editable">Because buffalo horn is a natural material, every Lewis Fredericks Frame will have a unique appearance, with naturally-occurring variations in color, striations and horn pattern. Showroom samples and photographic reproductions can give an example of the product&rsquo;s appearance but they may not be representative of the full range of colour striation and horn variations which can occur in the product itself. The images on this website are provided for reference only and should not be used as the sole basis for choosing a particular style of colouring.</h5>
                <br />

                <table style="table-layout:fixed">
                    <tbody><tr>
                        <th colspan="3" style="text-align:center">
                            <h2 class="editable">SCHEDULE ONE</h2>
                        </th>
                        </tr>
                        <tr class="headings">
                            <td><h3 class="editable">Dark Horn</h3></td>
                            <td><h3 class="editable">Light Horn</h3></td>
                            <td><h3 class="editable">Yellow Horn</h3></td>
                        </tr>
                        <tr>
                            <td><h4 class="editable">Consistent</h4></td>
                            <td><h4 class="editable">Variable</h4></td>
                            <td><h4 class="editable">Consistent</h4></td>
                        </tr>
                        <tr>
                            <td><h6 class="editable">Dark anthracite base featuring subtle striations of pale yellow, brown, and other warm tones.</h6></td>
                            <td><h6 class="editable">Distinctive but harmonious striations of pale yellow, brown, and other warm tones.</h6></td>
                            <td><h6 class="editable">Light semi-transparent yellow with an occasional tint of rose.</h6></td>
                        </tr>
                    </tbody></table>

                <br />

                <a href="#lookbook"><h2 class="editable">Click here see our lookbooks as a guide to the variances in our frames.</h2></a>

                <br />

                <h4 class="editable">If a customer is not happy with their particular pair of Lewis Fredericks in regard to the color, striations and horn pattern they are able to contact <a href="mailto:info@lewisfredericks.co.nz">info@lewisfredericks.co.nz</a> to organise a replacement frame.</h4> 
                <h4 class="editable">Please note the replacement frame will be the same Lewis Fredericks model and in the same horn category as first purchased by the customer.</h4>
            </div>
        </div>
    </div>
</div>

<!-- STOCKISTS -->
<div id="stockists" class="nav-padding"></div>
<div class="nav-padding off-white"></div>
<div class="section-separator off-white"><div class="section-border"><h1 class="editable">STOCKISTS</h1></div></div>
<div class="row stockist-filters">
    <div class="btn-group" data-toggle="buttons">
        <label onclick="ga('send', 'event', 'Button', 'Click', 'Stockists-All');" id="all" class="btn btn-default btn-stockist-filter active">
            <input type="radio" name="cities" id="all-radio" autocomplete="off" checked />ALL
        </label>
        <!-- BUILD THE CITIES LIST -->
        {% assign cities = '|' %}
        {% for stockist in site.stockists %}
        {% if cities contains stockist.city %}
        {% else %}
        {% assign cities = cities | append: stockist.city %}
        {% assign cities = cities | append: '|' %}
        {% endif %}
        {% endfor %}
        {% assign cities = cities | remove_first: '|' %}
        {% assign cities = cities | split: '|' %}
        {% for city in cities %}
        <label onclick="ga('send', 'event', 'Button', 'Click', 'Stockists-{{ city }}');" id="{{ city | downcase | replace: ' ', '' }}" class="btn btn-default btn-stockist-filter">
            <input type="radio" name="cities" id="{{ city | downcase | replace: ' ', '' }}-radio" autocomplete="off" checked />{{ city | upcase }}
        </label>
        {% endfor %}
    </div>
</div>
<div class="row stockist-grid">
    {% for stockist in site.stockists %}
    <div id="{{ stockist.title | downcase | replace: ' ', '' }}" class="stockist col-md-4 col-sm-6 col-xs-12 {{ stockist.city | downcase | replace: ' ', '' }} {{ stockist.country | downcase | replace: ' ', '' }}">
        <div class="stockist-card">
            <h3>{{ stockist.title }}</h3>
            <a target="_blank" href="{{ stockist.web-address }}"><p>{{ stockist.web-address | remove_first: "http://www." }}</p></a>
            <a target="_blank" href="tel:{{ stockist.phone }}"><p>{{ stockist.phone }}</p></a>
            <div class="stockist-address">
                <p>{{ stockist.address }}</p>
                {% if stockist.suburb != "" %}
                <p>{{ stockist.suburb }}</p>
                {% endif %}
                <p>{{ stockist.city }}</p>
                {% if stockist.state != "" %}
                <p>{{ stockist.state }}</p>
                {% endif %}
                <p>{{ stockist.country }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- CONTACT -->
<div id="contact" class="nav-padding"></div>
<div class="nav-padding off-white"></div>
<div class="section-separator off-white"><div class="section-border"><h1 class="editable">CONTACT</h1></div></div>
<div class="nav-padding"></div>
<div class="nav-padding"></div>
<div class="row contact-tabs">
    <div class="tabbedpanel" role="tabpanel">

        <!-- Nav tabs -->
        <ul class="tab-list col-md-3" role="tablist">
            <li role="presentation" class="active">
                <a class="btn-tabpanel" href="#sales" aria-controls="sales" role="tab" data-toggle="tab">SALES &amp; PRODUCT</a>
            </li>
            <li role="presentation">
                <a class="btn-tabpanel" href="#press" aria-controls="press" role="tab" data-toggle="tab">PRESS</a>
            </li>
            <li role="presentation" class="last">
                <a class="btn-tabpanel" href="#bespoke" aria-controls="bespoke" role="tab" data-toggle="tab">BESPOKE</a>
            </li>    
        </ul>

        <div class="clearfix"></div>

        <!-- Tab panes -->
        <div class="tab-content col-md-9">
            <div role="tabpanel" class="tab-pane active" id="sales">
                <div class="form-wrapper">
                    <form method="post" action="/success" id="sales-contact-form">
                        <div class="form-header">
                            <p class="editable">For all product enquires please send us a message here or e-mail us at <a href="mailto:info@lewisfredericks.co.nz">info@lewisfredericks.co.nz</a></p>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Sales-Name" type="text" class="form-control input__field input__field--madoka" id="sales-name-input" />
                                <label class="input__label input__label--madoka" for="sales-name-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Name</span>
                                </label>
                            </span>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Sales-Email" type="email" class="form-control input__field input__field--madoka" id="sales-email-input" />
                                <label class="input__label input__label--madoka" for="sales-email-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Email</span>
                                </label>
                            </span>
                        </div>

                        <div class="input-wrapper col-xs-12">
                            <textarea required name="Sales-Message" type="text" class="form-control" id="sales-message-input" placeholder="Message"></textarea>
                        </div>

                        <input type="hidden" name="cc_emails[]" value="info@lewisfredericks.co.nz" />

                        <div class="btn-wrapper">
                            <button class="btn btn-primary" type="submit" name="submit">SEND</button>
                        </div>

                        <script>
                            $('#sales-contact-form').validate();
                        </script>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="press">
                <div class="form-wrapper">
                    <form method="post" action="/success" id="press-contact-form">
                        <div class="form-header">
                            <p class="editable">For all Press enquires please send us a message here:</p>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Press-Name" type="text" class="form-control input__field input__field--madoka" id="press-name-input" />
                                <label class="input__label input__label--madoka" for="press-name-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Name</span>
                                </label>
                            </span>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Press-Email" type="email" class="form-control input__field input__field--madoka" id="press-email-input" />
                                <label class="input__label input__label--madoka" for="press-email-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Email</span>
                                </label>
                            </span>
                        </div>

                        <div class="input-wrapper col-xs-12">
                            <textarea required name="Press-Message" type="text" class="form-control" id="press-message-input" placeholder="Message"></textarea>
                        </div>

                        <input type="hidden" name="cc_emails[]" value="josh@lewisfredericks.co.nz" />

                        <div class="btn-wrapper">
                            <button class="btn btn-primary" type="submit" name="submit">SEND</button>
                        </div>

                        <script>
                            $('#press-contact-form').validate();
                        </script>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="bespoke">
                <div class="form-wrapper">
                    <form method="post" action="/success" id="bespoke-contact-form">
                        <div class="form-header">
                            <p class="editable">For enquires regarding bespoke and custom made Lewis Fredericks frames please send us a message here:</p>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Bespoke-Name" type="text" class="form-control input__field input__field--madoka" id="bespoke-name-input" />
                                <label class="input__label input__label--madoka" for="bespoke-name-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Name</span>
                                </label>
                            </span>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Bespoke-Email" type="email" class="form-control input__field input__field--madoka" id="bespoke-email-input" />
                                <label class="input__label input__label--madoka" for="bespoke-email-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Email</span>
                                </label>
                            </span>
                        </div>

                        <div class="input-wrapper col-xs-12">
                            <textarea required name="Bespoke-Message" type="text" class="form-control" id="bespoke-message-input" placeholder="Message"></textarea>
                        </div>

                        <input type="hidden" name="cc_emails[]" value="josh@lewisfredericks.co.nz" />

                        <div class="btn-wrapper">
                            <button class="btn btn-primary" type="submit" name="submit">SEND</button>
                        </div>

                        <script>
                            $('#bespoke-contact-form').validate();
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-padding"></div>
<div class="nav-padding"></div>

<!-- TITANIUM MODAL -->
<div class="modal fade" id="titanium-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="modal-variant-title">HORN &times; TITANIUM</h4>
                <p>Made in Japan</p>
                <h6>REGISTER YOUR INTEREST</h6>
            </div>
            <div class="form-wrapper">
                <form method="post" action="/success" id="titanium-contact-form">

                    <input type="hidden" name="cc_emails[]" value="info@lewisfredericks.co.nz" />
                    
                    <div class="input-wrapper">
                        <span class="input input--madoka">
                            <input required name="Titanium-Email" type="email" class="form-control input__field input__field--madoka" id="titanium-email-input" />
                            <label class="input__label input__label--madoka" for="titanium-email-input">
                                <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                    <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                </svg>
                                <span class="input__label-content input__label-content--madoka">Email</span>
                            </label>
                        </span>
                    </div>

                    <div class="btn-wrapper">
                        <button class="btn btn-primary" type="submit" name="submit">SEND</button>
                    </div>

                    <script>
                        $('#titanium-contact-form').validate();
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DETAILS MODAL -->
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="modal-frame-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 id="modal-frame-title">Frame title</h2>
                <h4 id="modal-variant-title">Variant title</h4>
            </div>
            <div class="modal-body">
                <img id="modal-variant-image" src="" />
                <div class="row-wide">
                    <div class="col-md-6 col-xs-12">
                        <p id="modal-frame-description">Frame Description</p>
                        <p id="modal-variant-description">Variant Description</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row-wide">
                            <div class="col-xs-6 modal-details hardware">
                                <h6 class="editable"><b>HARDWARE</b></h6>
                                <p id="modal-lens-details">Lens details</p>
                                <p class="editable">Seven barrel stainless steel hinges</p>
                                <p class="editable">Functional pins and rivets</p>
                            </div>
                            <div class="col-xs-6 modal-details">
                                <h6 class="editable"><b>ACCESSORIES</b></h6>
                                <p class="editable">Handmade NZ leather pouch</p>
                                <p class="editable">Lewis Fredericks microfiber cloth</p>
                                <p class="editable">Polishing cream</p>
                            </div>
                            <div class="col-xs-12 modal-details dimensions">
                                <h6 class="editable"><b>DIMENSIONS</b></h6>
                                <div class="dimensions-detail">
                                    <p id="modal-frame-dimensions">Dimensions</p>
                                    <p id="modal-frame-weight">Weight</p>
                                    <br />
                                    <p class="editable">12-month warranty</p>
                                    <h6 class="editable"><b>ONE SIZE FITS ALL</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-wide">
                    <div class="col-xs-12 buying-options">
                        <div class="row-wide">
                            <div class="col-md-6 col-xs-12">
                                <h2 class="editable">PURCHASE</h2>
                                <h4 class="price">Online Price: $420</h4><p class="price-subscript">New Zealand Dollars incl. GST</p>
                                <p class="editable">Lewis Fredericks frames are made from real horn, not a manufactured imitation. Each individual pair of Lewis Fredericks is a completely unique, one of a kind piece.</p>
                                <p class="editable">Every frame has a unique appearance, with naturally-occurring variations in color, striations and horn pattern. For this reason we do not operate a traditional online store.</p>
                                <p class="editable">We encourage you to visit our stockists to choose a frame, or alternatively, get in touch by leaving your email address. We will contact you with the range that is currently in stock, and assist you in choosing a frame that fits your taste.</p>
                            </div>
                            <div class="col-md-6 col-xs-12 pull-down">
                                <div class="view-stockists">
                                    <h4 class="editable">VISIT A STOCKIST</h4>
                                    <div class="btn-wrapper">
                                        <button onclick="ga('send', 'event', 'Button', 'Click', 'Modal-Visit-a-stockist');" type="button" class="btn btn-primary btn-stockists">View Stockists</button>
                                    </div>
                                </div>
                                <form id="modal-enquiry-form" class="form-inline" method="post" action="/success">
                                    <h4 class="editable">ENQUIRE ONLINE</h4>
                                    <span class="input input--madoka">
                                        <input required name="email" type="email" class="form-control input__field input__field--madoka" id="email-input" />
                                        <label class="input__label input__label--madoka" for="email-input">
                                            <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                            </svg>
                                            <span class="input__label-content input__label-content--madoka">Email</span></label>
                                    </span>
                                    <input type="hidden" name="frame" value="modal-frame" id="modal-frame-input" />
                                    <input type="hidden" name="variant" value="modal-variant" id="modal-variant-input" />
                                    <input type="hidden" name="lens" value="modal-lens" id="modal-lens-input" />
                                    <input type="hidden" name="cc_emails[]" value="info@lewisfredericks.co.nz" />
                                    <button onclick="ga('send', 'event', 'Button', 'Click', 'Modal-Enquire');" class="btn btn-primary" type="submit" name="submit">Enquire</button>
                                </form>
                                <script>
                                    $('#modal-enquiry-form').validate();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="ga('send', 'event', 'Button', 'Click', 'Modal-Close');" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--/DETAILS MODAL -->

<!-- KICK OFF THE SLIDERS -->
<script>
    {% for frame in site.frames %}
    $('#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        asNavFor: '#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 7000
    });
     $('#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
         slidesToShow: 3,
         slidesToScroll: 1,
         asNavFor: '#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
         dots: true,
         centerMode: true,
         focusOnSelect: true
     });
     {% endfor %}
     // LOOKBOOKS
     {% for lookbook in site.lookbooks %}
     $('#slider-{{ lookbook.title | downcase | replace: ' ', '-' | replace: '.', '' | replace: '|', '-' | replace: '/', '-'}}').slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         arrows: false,
         adaptiveHeight: true,
         autoplay: true,
         autoplaySpeed: {{ lookbook.slider-delay-ms }}
                                                                                                                                      });
      {% endfor %}
</script>