---
layout: homepage
title: "Lewis Fredericks - Handcrafted Horn Eyewear"
description: ""
---
<!-- HOMEPAGE CAROUSEL -->
<div id="home" class="nav-padding off-white"></div>
<div class="homepage-carousel off-white">
    <div class="flexslider flexslider-desktop">
        <ul class="slides">
            <li>
                <div class="row homepage-slide">
                    <div class="col-xs-12">
                        <img src="/img/carousel-steps-1.png" alt="Handcrafted Horn Eyewear"/>
                        <h1>Handcrafted Horn Eyewear</h1>
                    </div>
                </div>
            </li>
            <li>
                <div class="row homepage-slide">
                    <div class="col-xs-6">
                        <img src="/img/carousel-steps-2.png" alt="Sorting through Domestic Issue"/>
                    </div>
                    <div class="col-xs-6 blurb">
                        <h3>01. Sorting through Domestic Issue</h3>
                        <p>Lewis Fredericks is proud to only use horn that is a byproduct of animal domestication. It is both a renewable and a sustainable practice.</p>
                        <p>It is essential the horn is of the utmost quality in order to create frames of distinction; our selection process is testament to this.</p>
                        <p>We immediately discard around a fifth of the horn we receive due to imperfections and sizing issues.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="row homepage-slide">
                    <div class="col-xs-6">
                        <img src="/img/carousel-steps-3.png" alt="Horn to Horn Plate"/>
                    </div>
                    <div class="col-xs-6 blurb">
                        <h3>02. Horn to Horn Plate</h3>
                        <p>We keep the horns that are still in full form, unmarred and have a good oval structure with a broad base. The unwanted horns are sent back to their respective farms, ground up and used as fertiliser</p>
                        <div class="row">
                            <div class="col-xs-6">
                                <img src="/img/carousel-steps-4.png" alt="Horn to Horn Plate"/>
                            </div>
                            <div class="col-xs-6">
                                <img src="/img/carousel-steps-5.png" alt="Horn to Horn Plate"/>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row homepage-slide">
                    <h3>03. Sketch design onto horn plate &amp; cut out</h3>
                    <div class="col-xs-6">
                        <img src="/img/carousel-steps-6.png" alt="Horn to Horn Plate"/>
                    </div>
                    <div class="col-xs-6">
                        <img src="/img/carousel-steps-7.png" alt="Horn to Horn Plate"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="row homepage-slide">
                    <h3>04. Buffing and edging frame</h3>
                    <div class="col-xs-6">
                        <img src="/img/carousel-steps-8.png" alt="Buffing and edging frame"/>
                    </div>
                    <div class="col-xs-6">
                        <img src="/img/carousel-steps-9.png" alt="Buffing and edging frame"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="row homepage-slide">
                    <h3>05. Bridge and nose</h3>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-10.png" alt="Bridge and nose"/>
                    </div>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-11.png" alt="Bridge and nose"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="row homepage-slide">
                    <h3>06. Cutting and buffing legs and adding hinge</h3>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-12.png" alt="Bridge and nose"/>
                    </div>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-13.png" alt="Bridge and nose"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="row homepage-slide">
                    <h3>07. Fitting and buffing temples</h3>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-14.png" alt="Bridge and nose"/>
                    </div>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-15.png" alt="Bridge and nose"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="row homepage-slide">
                    <h3>08. Polishing and Wood Chips</h3>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-16.png" alt="Bridge and nose"/>
                    </div>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-17.png" alt="Bridge and nose"/>
                    </div>
                </div>
            </li>
            <li>
                <div class="row homepage-slide">
                    <h3>09. Fit lenses and engraving</h3>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-18.png" alt="Bridge and nose"/>
                    </div>
                    <div class="col-xs-6 padded">
                        <img src="/img/carousel-steps-19.png" alt="Bridge and nose"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="homepage-buttons">
        <div class="button-wrapper">
            <a class="btn btn-default">SEE THE PROCESS</a>
            <a href="#{{ site.frames[0].title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="btn btn-primary">VIEW THE FRAMES</a>
        </div>
    </div>
</div>

<!-- FRAMES PODIUMS -->
<div>
    {% assign isFirst = true %} 
    {% for frame in site.frames %}
    {% if isFirst %}
    {% assign isFirst = false %}
    <div class="section-separator off-white"><div class="section-border"></div></div>
    {% else %}
    <div class="section-separator off-white"><div class="section-border"></div></div>
    {% endif %}
    <div id="{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="nav-padding"></div>
    <div class="container-fluid frames-podium-container">
        <div class="frames-podium">
            <!-- PODIUM HERO -->
            <div id="hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="podium-hero">
                {% for variant in frame.variants %}
                <div>
                    <img src="{{ variant.image-path }}" alt="{{ frame.title }} {{ variant.title }}">
                    <h2>{{ frame.title | upcase}}</h2>
                    <h4>{{ variant.title | upcase}} | {{ variant.lens | upcase}}</h4>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#details-modal" data-title="{{ frame.title | upcase }}" data-variant="{{ variant.title | upcase}} | {{ variant.lens | upcase}}" data-lensdetails="{{ variant.lens-details }}" data-description="{{ frame.description }}" data-vardesc="{{ variant.description }}" data-width="{{ frame.width }}" data-height="{{ frame.height }}" data-netweight="{{ frame.net-weight }}" data-grossweight="{{ frame.gross-weight }}" data-imgpath="{{ variant.image-path }}">DETAILS</button>
                </div>
                {% endfor %}
            </div>
            <!-- PODIUM NAV -->
            <div id="nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="podium-nav">
                {% for variant in frame.variants %}
                <div class="">
                    <img src="{{ variant.thumbnail-path }}" alt="{{ frame.title }} {{ variant.title }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- LOOKBOOK -->
<div id="lookbook" class="nav-padding"></div>
<div class="section-separator off-white"><div class="section-border"><h1>LOOKBOOK</h1></div></div>

<!-- HORN -->
<div id="horn" class="nav-padding"></div>
<div class="section-separator off-white"><div class="section-border"><h1>HORN</h1></div></div>

<!-- STOCKISTS -->
<div id="stockists" class="nav-padding"></div>
<div class="section-separator off-white"><div class="section-border"><h1>STOCKISTS</h1></div></div>
<div class="row stockist-filters">
    <div class="btn-group" data-toggle="buttons">
        <label id="all" class="btn btn-default btn-stockist-filter active">
            <input type="radio" name="cities" id="all-radio" autocomplete="off" checked>ALL
        </label>
        <!-- BUILD THE CITIES LIST -->
        {% assign cities = '|' %}
        {% for stockist in site.stockists %}
        {% if cities contains stockist.city %}
        {% else %}
        {% assign cities = cities | append: stockist.city %}
        {% assign cities = cities | append: '|' %}
        {% endif %}
        {% endfor %}
        {% assign cities = cities | remove_first: '|' %}
        {% assign cities = cities | split: '|' %}
        {% for city in cities %}
        <label id="{{ city | downcase | replace: ' ', '' }}" class="btn btn-default btn-stockist-filter">
            <input type="radio" name="cities" id="{{ city | downcase | replace: ' ', '' }}-radio" autocomplete="off" checked>{{ city | upcase }}
        </label>
        {% endfor %}
    </div>
</div>
<div class="row stockist-grid">
    {% for stockist in site.stockists %}
    <div id="{{ stockist.title | downcase | replace: ' ', '' }}" class="stockist col-md-4 col-sm-6 col-xs-12 {{ stockist.city | downcase | replace: ' ', '' }} {{ stockist.country | downcase | replace: ' ', '' }}">
        <div class="stockist-card">
            <h3>{{ stockist.title }}</h3>
            <a target="_blank" href="{{ stockist.web-address }}"><p>{{ stockist.web-address | remove_first: "http://www." }}</p></a>
            <a target="_blank" href="tel:{{ stockist.phone }}"><p>{{ stockist.phone }}</p></a>
            <div class="stockist-address">
                <p>{{ stockist.address }}</p>
                {% if stockist.suburb != "" %}
                <p>{{ stockist.suburb }}</p>
                {% endif %}
                <p>{{ stockist.city }}</p>
                {% if stockist.state != "" %}
                <p>{{ stockist.state }}</p>
                {% endif %}
                <p>{{ stockist.country }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- CONTACT -->
<div id="contact" class="nav-padding"></div>
<div class="section-separator off-white"><div class="section-border"><h1>CONTACT</h1></div></div>

<!-- DETAILS MODAL -->
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="modal-frame-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 id="modal-frame-title">Frame title</h2>
                <h4 id="modal-variant-title">Variant title</h4>
            </div>
            <div class="modal-body">
                <img id="modal-variant-image" src="">
                <div class="row-wide">
                    <div class="col-md-6 col-xs-12">
                        <p id="modal-frame-description">Frame Description</p>
                        <p id="modal-variant-description">Variant Description</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row-wide">
                            <div class="col-xs-6 modal-details hardware">
                                <h6><b>HARDWARE</b></h6>
                                <p id="modal-lens-details">Lens details</p>
                                <p>Seven barrel stainless steel hinges</p>
                                <p>Functional pins and rivets</p>
                            </div>
                            <div class="col-xs-6 modal-details">
                                <h6><b>ACCESSORIES</b></h6>
                                <p>Handmade NZ leather pouch</p>
                                <p>Lewis Fredericks microfiber cloth</p>
                                <p>Polishing cream</p>
                            </div>
                            <div class="col-xs-12 modal-details dimensions">
                                <h6><b>DIMENSIONS</b></h6>
                                <div class="dimensions-detail">
                                    <p id="modal-frame-dimensions">Dimensions</p>
                                    <p id="modal-frame-weight">Weight</p>
                                    <br>
                                    <p>12-month warranty</p>
                                    <h6><b>ONE SIZE FITS ALL</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-wide">
                    <div class="col-xs-12 buying-options">
                        <div class="row-wide">
                            <div class="col-md-6 col-xs-12">
                                <h2>PURCHASE</h2>
                                <h4 class="price">Online Price: $420</h4><p class="price-subscript">New Zealand Dollars incl. GST</p>
                                <p>Lewis Fredericks frames are made from real horn, not a manufactured imitation. Each individual pair of Lewis Fredericks is a completely unique, one of a kind piece.</p>
                                <p>Every frame has a unique appearance, with naturally-occurring variations in color, striations and horn pattern. For this reason we do not operate a traditional online store.</p>
                                <p>We encourage you to visit our stockists to choose a frame, or alternatively, to get in touch by leaving your email address. We will contact you with the range that is currently in stock, and assist you in choosing a frame that fits your taste.</p>
                            </div>
                            <div class="col-md-6 col-xs-12 pull-down">
                                <div class="view-stockists">
                                    <h4>VISIT A STOCKIST</h4>
                                    <button type="button" class="btn btn-primary btn-stockists">View Stockists</button>
                                </div>
                                <form id="modal-enquiry-form" class="form-inline" method="post" action="#">
                                    <h4>ENQUIRE ONLINE</h4>
                                    <span class="input input--madoka">
                                        <input required name="email" type="email" class="form-control input__field input__field--madoka" id="email-input">
                                        <label class="input__label input__label--madoka" for="email-input">
                                            <svg class="graphic graphic--madoka" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                                                <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
                                            </svg>
                                            <span class="input__label-content input__label-content--madoka">Email</span></label>
                                    </span>
                                    <input type="hidden" name="cc_emails[]" value="info@lewisfredericks.co.nz" />
                                    <button type="submit" class="btn btn-primary">Enquire</button>
                                </form>
                                <script>
                                    $('#modal-enquiry-form').validate();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--/DETAILS MODAL -->

<!-- KICK OFF THE SLIDERS -->
<script>
    {% for frame in site.frames %}
    $('#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        asNavFor: '#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 7000
    });
     $('#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
         slidesToShow: 3,
         slidesToScroll: 1,
         asNavFor: '#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
         dots: true,
         centerMode: true,
         focusOnSelect: true
     });
     {% endfor %}
</script>