---
layout: homepage
title: "Lewis Fredericks - Handcrafted Horn Eyewear"
description: "Lewis Fredericks Eyewear offers time-honoured silhouettes fashioned from horn, the previously wasted by-product of domesticated Buffalo, Ram and Ox."
---
<!-- HOMEPAGE CAROUSEL -->
<div id="home" class="nav-padding"></div>
<div class="homepage-carousel">
    <div class="slick-wrapper">
        <div class="slick" id="landing-carousel" data-slick='{"fade": true, "dots": true, "arrows": false, "lazyLoad": "ondemand", "autoplay": true, "autoplaySpeed": 7000, "pauseOnHover": false}'>
            <div class="thirds-slide">
                <div class="v-wrapper">
                    <div class="h-wrapper">
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/1.jpg"/>
                            </div>
                        </div>
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/2.jpg"/>
                            </div>
                        </div>
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/3.jpg"/>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-buttons">
                        <div class="button-wrapper">
                            <!--<a target="_blank" href="/pdf/Lewis%20Fredericks%20-%20Process.pdf" class="btn btn-default">SEE THE PROCESS</a>
-->
                            <a target="_blank" href="/pdf/Lewis%20Fredericks%20-%2015-16.pdf" onclick="ga('send', 'event', 'Button', 'Click', 'View-The-Collection');" class="btn btn-primary">VIEW THE COLLECTION</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirds-slide">
                <div class="v-wrapper">
                    <div class="h-wrapper">
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/4.jpg"/>
                            </div>
                        </div>
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/5.jpg"/>
                            </div>
                        </div>
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/6.jpg"/>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-buttons">
                        <div class="button-wrapper">
                            <!--<a target="_blank" href="/pdf/Lewis%20Fredericks%20-%20Process.pdf" class="btn btn-default">SEE THE PROCESS</a>
-->
                            <a target="_blank" href="/pdf/Lewis%20Fredericks%20-%2015-16.pdf" onclick="ga('send', 'event', 'Button', 'Click', 'View-The-Collection');" class="btn btn-primary">VIEW THE COLLECTION</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirds-slide">
                <div class="v-wrapper">
                    <div class="h-wrapper">
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/7.jpg"/>
                            </div>
                        </div>
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/8.jpg"/>
                            </div>
                        </div>
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/9.jpg"/>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-buttons">
                        <div class="button-wrapper">
                            <!--<a target="_blank" href="/pdf/Lewis%20Fredericks%20-%20Process.pdf" class="btn btn-default">SEE THE PROCESS</a>
-->
                            <a target="_blank" href="/pdf/Lewis%20Fredericks%20-%2015-16.pdf" onclick="ga('send', 'event', 'Button', 'Click', 'View-The-Collection');" class="btn btn-primary">VIEW THE COLLECTION</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirds-slide">
                <div class="v-wrapper">
                    <div class="h-wrapper">
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/10.jpg"/>
                            </div>
                        </div>
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/11.jpg"/>
                            </div>
                        </div>
                        <div class="thirds-wrapper">
                            <div class="img-wrapper border">
                                <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'667'%20height%3D'1000'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                                <img class="lazy" data-lazy="/img/15.16/12.jpg"/>
                            </div>
                        </div>
                    </div>
                    <div class="homepage-buttons">
                        <div class="button-wrapper">
                            <!--<a target="_blank" href="/pdf/Lewis%20Fredericks%20-%20Process.pdf" class="btn btn-default">SEE THE PROCESS</a>
-->
                            <a target="_blank" href="/pdf/Lewis%20Fredericks%20-%2015-16.pdf" onclick="ga('send', 'event', 'Button', 'Click', 'View-The-Collection');" class="btn btn-primary">VIEW THE COLLECTION</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FRAMES PODIUMS -->
<div>
    {% assign isFirst = true %} 
    {% for frame in site.frames %}
    {% if isFirst %}
    {% assign isFirst = false %}
    <div id="frames" class="nav-padding"></div>
    <div class="nav-padding off-white"></div>
    <div class="section-separator off-white"><div class="section-border"><h1 class="editable">FRAMES</h1></div></div>
    {% else %}
    <div class="nav-padding"></div>
    <div class="section-separator off-white"><div class="section-border"></div></div>
    {% endif %}
    <div id="{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="nav-padding"></div>
    <div class="container-fluid frames-podium-container">
        <div class="frames-podium">
            <!-- PODIUM HERO -->
            <div id="hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}" class="podium-hero">
                {% for variant in frame.variants %}
                <div>
                    <div class="img-wrapper">
                        <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'1200'%20height%3D'500'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                        <img class="lazy" data-lazy="{{ variant.image_path }}"/>
                    </div>
                    <h2>{{ frame.title | upcase}}</h2>
                    <h4>{{ variant.title | upcase}} | {{ variant.lens | upcase}}</h4>
                    <button onclick="ga('send', 'event', 'Button', 'Click', 'Frames-{{ frame.title | replace: ' ', '-' | replace: '.', '' }}-{{ variant.title | replace: ' ', '-' | replace: '.', '' }}');" type="button" class="btn btn-primary" data-toggle="modal" data-target="#details-modal" data-title="{{ frame.title | upcase }}" data-variant="{{ variant.title | upcase}} | {{ variant.lens | upcase}}" data-lensdetails="{{ variant.lens-details }}" data-description="{{ frame.description }}" data-vardesc="{{ variant.description }}" data-width="{{ frame.width }}" data-height="{{ frame.height }}" data-netweight="{{ frame.net-weight }}" data-grossweight="{{ frame.gross-weight }}" data-imgpath="{{ variant.image_path }}">DETAILS</button>
                </div>
                {% endfor %}
            </div>
            <!-- PODIUM NAV -->
            <div id="nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', '' }}" class="podium-nav">
                {% for variant in frame.variants %}
                <div>
                    <div class="img-wrapper">
                        <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'900'%20height%3D'675'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                        <img class="lazy" data-lazy="{{ variant.thumbnail_path }}"/>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- TITANIUM -->
<div id="titanium" class="nav-padding"></div>
<div class="nav-padding off-white"></div>
<div class="section-separator off-white"><div class="section-border"><h1 class="editable">TITANIUM</h1></div></div>
<div class="homepage-carousel">
    <div class="slick-wrapper">
        <div class="slick" id="titanium-carousel" data-slick='{"fade": true, "dots": true, "lazyLoad": "ondemand", "autoplay": true, "autoplaySpeed": 7000}'>
            <div class="titanium-slide">
                <div id="titanium-slide-2" class="img"></div>
            </div>
            <div class="titanium-slide">
                <div id="titanium-slide-1" class="img"></div>
            </div>
            <div class="titanium-slide">
                <div id="titanium-slide-3" class="img"></div>
            </div>
        </div>
        <div class="homepage-buttons">
            <div class="button-wrapper">
                <!--<a target="_blank" href="/pdf/Lewis%20Fredericks%20-%20Process.pdf" class="btn btn-default">SEE THE PROCESS</a>
-->
                <a onclick="ga('send', 'event', 'Button', 'Click', 'Enquire-Titanium');" class="btn btn-primary" data-toggle="modal" data-target="#titanium-modal">ENQUIRE</a>
            </div>
        </div>
    </div>
</div>

<!-- LOOKBOOK -->
<div id="lookbook" class="nav-padding"></div>
<div class="nav-padding off-white"></div>
<div class="section-separator off-white"><div class="section-border"><h1 class="editable">LOOKBOOK</h1></div></div>
<div class="row lookbooks">
    {% for lookbook in site.lookbooks %}
    <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <div class="lookbook">
            <div id="slider-{{ lookbook.title | downcase | replace: ' ', '-' | replace: '.', '' | replace: '|', '-' | replace: '/', '-'}}">
                {% for img in lookbook.images %}
                <div>
                    <a target="_blank" href="{{ lookbook.pdf_path }}">
                        <div class="img-wrapper">
                            <img class="lazy-placeholder" src="data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20width%3D'500'%20height%3D'500'><rect%20width%3D'100%25'%20height%3D'100%25'%20fill%3D'transparent'%2F><%2Fsvg>"/>
                            <img class="lazy" data-lazy="{{ img.img_path }}"/>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <div class="lookbook-title">
                <h3>{{ lookbook.title | upcase }}</h3>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- STOCKISTS -->
<div id="stockists" class="nav-padding"></div>
<div class="nav-padding off-white"></div>
<div class="section-separator off-white"><div class="section-border"><h1 class="editable">STOCKISTS</h1></div></div>
<div class="row stockist-filters">
    <div class="btn-group" data-toggle="buttons">
        <label onclick="ga('send', 'event', 'Button', 'Click', 'Stockists-All');" id="all" class="btn btn-default btn-stockist-filter active">
            <input type="radio" name="cities" id="all-radio" autocomplete="off" checked />ALL
        </label>
        <!-- BUILD THE CITIES LIST -->
        {% assign cities = '|' %}
        {% for stockist in site.stockists %}
        {% if cities contains stockist.city %}
        {% else %}
        {% assign cities = cities | append: stockist.city %}
        {% assign cities = cities | append: '|' %}
        {% endif %}
        {% endfor %}
        {% assign cities = cities | remove_first: '|' %}
        {% assign cities = cities | split: '|' %}
        {% for city in cities %}
        <label onclick="ga('send', 'event', 'Button', 'Click', 'Stockists-{{ city }}');" id="{{ city | downcase | replace: ' ', '' }}" class="btn btn-default btn-stockist-filter">
            <input type="radio" name="cities" id="{{ city | downcase | replace: ' ', '' }}-radio" autocomplete="off" checked />{{ city | upcase }}
        </label>
        {% endfor %}
    </div>
</div>
<div class="row stockist-grid">
    {% for stockist in site.stockists %}
    <div id="{{ stockist.title | downcase | replace: ' ', '' }}" class="stockist col-md-4 col-sm-6 col-xs-12 {{ stockist.city | downcase | replace: ' ', '' }} {{ stockist.country | downcase | replace: ' ', '' }}">
        <div class="stockist-card">
            <h3>{{ stockist.title }}</h3>
            <a target="_blank" href="{{ stockist.web-address }}"><p>{{ stockist.web-address | remove_first: "http://www." }}</p></a>
            <a target="_blank" href="tel:{{ stockist.phone }}"><p>{{ stockist.phone }}</p></a>
            <div class="stockist-address">
                <p>{{ stockist.address }}</p>
                {% if stockist.suburb != "" %}
                <p>{{ stockist.suburb }}</p>
                {% endif %}
                <p>{{ stockist.city }}</p>
                {% if stockist.state != "" %}
                <p>{{ stockist.state }}</p>
                {% endif %}
                <p>{{ stockist.country }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- BESPOKE -->
<div id="bespoke" class="nav-padding"></div>
<div class="nav-padding off-white"></div>
<div class="section-separator off-white"><div class="section-border"><h1 class="editable">BESPOKE</h1></div></div>
<div class="homepage-carousel">
    <div class="slick-wrapper">
        <div class="slick" id="bespoke-carousel" data-slick='{"fade": true, "dots": true, "lazyLoad": "ondemand", "autoplay": true, "autoplaySpeed": 7000}'>
            <div class="titanium-slide">
                <div id="titanium-slide-4" class="img"></div>
            </div>
            <div class="titanium-slide">
                <div id="titanium-slide-5" class="img"></div>
            </div>
            <div class="titanium-slide">
                <div id="titanium-slide-6" class="img"></div>
            </div>
        </div>
        <div class="homepage-buttons">
            <div class="button-wrapper">
                <!--<a target="_blank" href="/pdf/Lewis%20Fredericks%20-%20Process.pdf" class="btn btn-default">SEE THE PROCESS</a>
-->
                <a href="#contact" id="btn-bespoke-enquire" onclick="ga('send', 'event', 'Button', 'Click', 'Enquire-Bespoke');" class="btn btn-primary">ENQUIRE</a>
            </div>
        </div>
    </div>
</div>

<!-- CONTACT -->
<div id="contact" class="nav-padding"></div>
<div class="nav-padding off-white"></div>
<div class="section-separator off-white"><div class="section-border"><h1 class="editable">CONTACT</h1></div></div>
<div class="nav-padding"></div>
<div class="nav-padding"></div>
<div class="row contact-tabs">
    <div class="tabbedpanel" role="tabpanel">

        <!-- Nav tabs -->
        <ul id="contact-tabs" class="tab-list col-md-3" role="tablist">
            <li role="presentation" class="active">
                <a class="btn-tabpanel" href="#sales-contact" aria-controls="sales" role="tab" data-toggle="tab">SALES &amp; PRODUCT</a>
            </li>
            <li role="presentation">
                <a class="btn-tabpanel" href="#press-contact" aria-controls="press" role="tab" data-toggle="tab">PRESS</a>
            </li>
            <li role="presentation" class="last">
                <a class="btn-tabpanel" href="#bespoke-contact" aria-controls="bespoke" role="tab" data-toggle="tab">BESPOKE</a>
            </li>    
        </ul>

        <div class="clearfix"></div>

        <!-- Tab panes -->
        <div class="tab-content col-md-9">
            <div role="tabpanel" class="tab-pane active" id="sales-contact">
                <div class="form-wrapper">
                    <form method="post" action="/success" id="sales-contact-form">
                        <div class="form-header">
                            <p class="editable">For all product enquires please send us a message here or e-mail us at <a href="mailto:info@lewisfredericks.co.nz">info@lewisfredericks.co.nz</a></p>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Sales-Name" type="text" class="form-control input__field input__field--madoka" id="sales-name-input" />
                                <label class="input__label input__label--madoka" for="sales-name-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Name</span>
                                </label>
                            </span>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Sales-Email" type="email" class="form-control input__field input__field--madoka" id="sales-email-input" />
                                <label class="input__label input__label--madoka" for="sales-email-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Email</span>
                                </label>
                            </span>
                        </div>

                        <div class="input-wrapper col-xs-12">
                            <textarea required name="Sales-Message" type="text" class="form-control" id="sales-message-input" placeholder="Message"></textarea>
                        </div>

                        <input type="hidden" name="cc_emails[]" value="info@lewisfredericks.co.nz" />

                        <div class="btn-wrapper">
                            <button class="btn btn-primary" type="submit" name="submit">SEND</button>
                        </div>

                        <script>
                            $('#sales-contact-form').validate();
                        </script>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="press-contact">
                <div class="form-wrapper">
                    <form method="post" action="/success" id="press-contact-form">
                        <div class="form-header">
                            <p class="editable">For all Press enquires please send us a message here:</p>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Press-Name" type="text" class="form-control input__field input__field--madoka" id="press-name-input" />
                                <label class="input__label input__label--madoka" for="press-name-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Name</span>
                                </label>
                            </span>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Press-Email" type="email" class="form-control input__field input__field--madoka" id="press-email-input" />
                                <label class="input__label input__label--madoka" for="press-email-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Email</span>
                                </label>
                            </span>
                        </div>

                        <div class="input-wrapper col-xs-12">
                            <textarea required name="Press-Message" type="text" class="form-control" id="press-message-input" placeholder="Message"></textarea>
                        </div>

                        <input type="hidden" name="cc_emails[]" value="josh@lewisfredericks.co.nz" />

                        <div class="btn-wrapper">
                            <button class="btn btn-primary" type="submit" name="submit">SEND</button>
                        </div>

                        <script>
                            $('#press-contact-form').validate();
                        </script>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="bespoke-contact">
                <div class="form-wrapper">
                    <form method="post" action="/success" id="bespoke-contact-form">
                        <div class="form-header">
                            <p class="editable">For enquires regarding bespoke and custom made Lewis Fredericks frames please send us a message here:</p>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Bespoke-Name" type="text" class="form-control input__field input__field--madoka" id="bespoke-name-input" />
                                <label class="input__label input__label--madoka" for="bespoke-name-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Name</span>
                                </label>
                            </span>
                        </div>
                        <div class="input-wrapper">
                            <span class="input input--madoka">
                                <input required name="Bespoke-Email" type="email" class="form-control input__field input__field--madoka" id="bespoke-email-input" />
                                <label class="input__label input__label--madoka" for="bespoke-email-input">
                                    <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                        <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                    </svg>
                                    <span class="input__label-content input__label-content--madoka">Email</span>
                                </label>
                            </span>
                        </div>

                        <div class="input-wrapper col-xs-12">
                            <textarea required name="Bespoke-Message" type="text" class="form-control" id="bespoke-message-input" placeholder="Message"></textarea>
                        </div>

                        <input type="hidden" name="cc_emails[]" value="josh@lewisfredericks.co.nz" />

                        <div class="btn-wrapper">
                            <button class="btn btn-primary" type="submit" name="submit">SEND</button>
                        </div>

                        <script>
                            $('#bespoke-contact-form').validate();
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-padding"></div>
<div class="nav-padding"></div>

<!-- TITANIUM MODAL -->
<div class="modal fade" id="titanium-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>HORN &times; TITANIUM</h4>
                <p>Made in Japan</p>
                <h6>REGISTER YOUR INTEREST</h6>
            </div>
            <div class="form-wrapper">
                <form method="post" action="/success" id="titanium-contact-form">

                    <input type="hidden" name="cc_emails[]" value="info@lewisfredericks.co.nz" />

                    <div class="input-wrapper">
                        <span class="input input--madoka">
                            <input required name="Titanium-Email" type="email" class="form-control input__field input__field--madoka" id="titanium-email-input" />
                            <label class="input__label input__label--madoka" for="titanium-email-input">
                                <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                    <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                </svg>
                                <span class="input__label-content input__label-content--madoka">Email</span>
                            </label>
                        </span>
                    </div>

                    <div class="btn-wrapper">
                        <button class="btn btn-primary" type="submit" name="submit">SEND</button>
                    </div>

                    <script>
                        $('#titanium-contact-form').validate();
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- DETAILS MODAL -->
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="modal-frame-title" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 id="modal-frame-title">Frame title</h2>
                <h4 id="modal-variant-title">Variant title</h4>
            </div>
            <div class="modal-body">
                <img id="modal-variant-image" src="" />
                <div class="row-wide">
                    <div class="col-md-6 col-xs-12">
                        <p id="modal-frame-description">Frame Description</p>
                        <p id="modal-variant-description">Variant Description</p>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="row-wide">
                            <div class="col-xs-6 modal-details hardware">
                                <h6 class="editable"><b>HARDWARE</b></h6>
                                <p id="modal-lens-details">Lens details</p>
                                <p class="editable">Seven barrel stainless steel hinges</p>
                                <p class="editable">Functional pins and rivets</p>
                            </div>
                            <div class="col-xs-6 modal-details">
                                <h6 class="editable"><b>ACCESSORIES</b></h6>
                                <p class="editable">Handmade NZ leather pouch</p>
                                <p class="editable">Lewis Fredericks microfiber cloth</p>
                                <p class="editable">Polishing cream</p>
                            </div>
                            <div class="col-xs-12 modal-details dimensions">
                                <h6 class="editable"><b>DIMENSIONS</b></h6>
                                <div class="dimensions-detail">
                                    <p id="modal-frame-dimensions">Dimensions</p>
                                    <p id="modal-frame-weight">Weight</p>
                                    <br />
                                    <p class="editable">12-month warranty</p>
                                    <h6 class="editable"><b>ONE SIZE FITS ALL</b></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row-wide">
                    <div class="col-xs-12 buying-options">
                        <div class="row-wide">
                            <div class="col-md-6 col-xs-12">
                                <h2 class="editable">PURCHASE</h2>
                                <h4 class="price">Online Price: $420</h4><p class="price-subscript">New Zealand Dollars incl. GST</p>
                                <p class="editable">Lewis Fredericks frames are made from real horn, not a manufactured imitation. Each individual pair of Lewis Fredericks is a completely unique, one of a kind piece.</p>
                                <p class="editable">Every frame has a unique appearance, with naturally-occurring variations in color, striations and horn pattern. For this reason we do not operate a traditional online store.</p>
                                <p class="editable">We encourage you to visit our stockists to choose a frame, or alternatively, get in touch by leaving your email address. We will contact you with the range that is currently in stock, and assist you in choosing a frame that fits your taste.</p>
                            </div>
                            <div class="col-md-6 col-xs-12 pull-down">
                                <div class="view-stockists">
                                    <h4 class="editable">VISIT A STOCKIST</h4>
                                    <div class="btn-wrapper">
                                        <button onclick="ga('send', 'event', 'Button', 'Click', 'Modal-Visit-a-stockist');" type="button" class="btn btn-primary btn-stockists">View Stockists</button>
                                    </div>
                                </div>
                                <form id="modal-enquiry-form" class="form-inline" method="post" action="/success">
                                    <h4 class="editable">ENQUIRE ONLINE</h4>
                                    <span class="input input--madoka">
                                        <input required name="email" type="email" class="form-control input__field input__field--madoka" id="email-input" />
                                        <label class="input__label input__label--madoka" for="email-input">
                                            <svg class="graphic graphic--madoka" width="100%" height="100%" viewbox="0 0 404 77" preserveaspectratio="none">
                                                <path d="m0,0l404,0l0,77l-404,0l0,-77z" />
                                            </svg>
                                            <span class="input__label-content input__label-content--madoka">Email</span></label>
                                    </span>
                                    <input type="hidden" name="frame" value="modal-frame" id="modal-frame-input" />
                                    <input type="hidden" name="variant" value="modal-variant" id="modal-variant-input" />
                                    <input type="hidden" name="lens" value="modal-lens" id="modal-lens-input" />
                                    <input type="hidden" name="cc_emails[]" value="info@lewisfredericks.co.nz" />
                                    <button onclick="ga('send', 'event', 'Button', 'Click', 'Modal-Enquire');" class="btn btn-primary" type="submit" name="submit">Enquire</button>
                                </form>
                                <script>
                                    $('#modal-enquiry-form').validate();
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="ga('send', 'event', 'Button', 'Click', 'Modal-Close');" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--/DETAILS MODAL -->

<!-- KICK OFF THE SLIDERS -->
<script>
    {% for frame in site.frames %}
    $('#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        lazyLoad: 'ondemand',
        arrows: false,
        asNavFor: '#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
        adaptiveHeight: true,
        autoplay: true,
        autoplaySpeed: 7000
    });
     $('#nav-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}').slick({
         slidesToShow: 3,
         slidesToScroll: 1,
         lazyLoad: 'ondemand',
         asNavFor: '#hero-for-{{ frame.title | downcase | replace: ' ', '-' | replace: '.', ''}}',
         dots: true,
         centerMode: true,
         focusOnSelect: true
     });
     {% endfor %}
     // LOOKBOOKS
     {% for lookbook in site.lookbooks %}
     $('#slider-{{ lookbook.title | downcase | replace: ' ', '-' | replace: '.', '' | replace: '|', '-' | replace: '/', '-'}}').slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         lazyLoad: 'ondemand',
         arrows: false,
         adaptiveHeight: true,
         autoplay: true,
         autoplaySpeed: {{ lookbook.slider-delay-ms }}
                                                                                                                                      });
      {% endfor %}
</script>