<div class="footer-wrapper">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4 footer-social">
            <div class="social-icons">
                <a target="_blank" href="https://www.facebook.com/LewisFredericksEyewear"><i class="fa fa-facebook-square"></i></a>
                <a target="_blank" href="https://instagram.com/lewis__fredericks/"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-md-4 footer-legal">

        </div>
    </div>
</div>