<div id="javascript-disabled" class="fullscreen-warning">
    <img src="/img/logo.png" alt="Lewis Fredericks Logo"/>
    <h4><b>YOUR BROWSER HAS JAVASCRIPT DISABLED</b></h4>
    <p>Our site cannot be displayed. Please <a href="http://enable-javascript.com/">enable Javascript</a> and refresh the page.</p>
    <p>Alternatively, if you need to get in touch, please <a href="mailto:info@lewisfredericks.co.nz">send us an email</a> with your enquiry.</p>
</div>
<div id="ie8" class="fullscreen-warning">
    <img src="/img/logo.png" alt="Lewis Fredericks Logo"/>
    <h4><b>YOUR BROWSER IS UNSUPPORTED</b></h4>
    <p>Our site cannot be displayed. Please <a href="http://browsehappy.com/?locale=en">upgrade to a modern browser</a> and reload the page.</p>
    <p>Alternatively, if you need to get in touch, please <a href="mailto:info@lewisfredericks.co.nz">send us an email</a> with your enquiry.</p>
</div>
